@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
body ::-webkit-scrollbar {
  width: 0px;
}

a {
  color: #22B7F8;
}

div.item {
  border: "0px" !important;
  border-style: none !important;
}
.ui.menu {
  border-bottom: 0 none !important;
  box-shadow: none !important;
}

.pushable > * {
  border-bottom: 0 none !important;
  box-shadow: none !important;
}

.ui.menu > .container > *,
.ui.menu > .grid > * {
  background-color: "#00B1F6";
  color: white !important;
}

.ui.menu .item:before {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.imgdiv img {
  width: 100%;
  position: relative;
  opacity: 0.5;
}

.imgdiv .overlay {
  position: absolute;
}

.ui.large.horizontal.list .list>.item, .ui.large.horizontal.list>.item {
  color: black;
}

.blue-title {
  font-size:  1.5rem;
  color:  #22B7F8;
  font-weight: 300;
}

.ui.primary.button {
  background:  #22B7F8;
}

.hero-session {
  background: #22B7F8; 
  color: #fff;
  padding: 4rem;
}

.big-title {
  padding:  2rem 0rem;
  font-size: 3rem;
  font-weight: 300;
}

.hero-session .big-title {
  color:  #fff;
}

.home-session {
  margin:  3rem 0rem !important;
}

.divider-border {
  border-bottom: 1px dotted #bbb;
  padding-bottom: 2rem !important;
}

.view-all-toolbar {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.showcase-box {
  padding: 2rem 1rem !important;
  padding: 0.25rem;
  border-bottom: 1px dotted #bbb;
}

.sidebar {
  border-right: 1px dotted #bbb;
}

@media (max-width: 425px) {
  .hero-session {
    padding: 0.5rem;
  }

  .big-title {
    font-size: 2rem;
  }
}